<div class="login-box">
  <p>Crea un account </p>

  <form>
    <div class="user-box">
      <input
      required=""
      name="nome"
      [(ngModel)]="newUser.name"
      type="text" >
      <label class="text-secondary">Inserisci Nome</label>
    </div>
    <div class="user-box">
      <input
      required=""
      name="nome"
      [(ngModel)]="newUser.lastName"
      type="text" >
      <label class="text-secondary">Inserisci cognome</label>
    </div>
    <div class="user-box">
      <input
      required=""
      name="email"
      [(ngModel)]="newUser.email"
      type="email">
      <label class="text-secondary"> Inserisci Email</label>
    </div>
    <div class="user-box">
      <input
      required=""
      name="password"
      [(ngModel)]="newUser.password"
      type="password">
      <label class="text-secondary">Inserisci Password</label>
    </div>
    <a (click)="register()" routerLink="/auth/login">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Registrati
    </a>
  </form>

  <p>Hai un account ? <a routerLink="/auth/login" class="a2">Accedi </a></p>
</div>
<div class="riempi"></div>
