

<div class="badge-log d-flex justify-content-evenly align-items-center">
    <div class="heading">

      <div class="ui-abstergo">
        <div class="abstergo-loader">
          <div></div>
          <div></div>
          <div></div>
        </div>
        <div class="ui-text">
          Grammi Instantanei

        </div>
      </div>
    </div>

    <div class="d-flex flex-column align-items-center">
    <h1 class="textHome text-white py-5">Benvenuto</h1>
    <div class="container">
      <div class="content">
        <div class="content__container">
          <p class="content__container__text">
            Qui troverai Post su
          </p>

          <ul class="content__container__list">
            <li class="content__container__list__item">News !</li>
            <li class="content__container__list__item">Game !</li>
            <li class="content__container__list__item">Job !</li>
            <li class="content__container__list__item">Candy !</li>

          </ul>
        </div>
      </div>
    </div>
    <div >
    <button class="mt-4" routerLink="auth/login"> Accedi</button>
    <button class="mt-4" routerLink="auth/register"> Registrati</button>
    <button (click)="redirectYT()" class="mt-4">Scrivici</button>
    </div>

</div>
</div>

<div class="riempi"></div>
