<div class="space"></div>

<div class="login-box">
  <p>Login</p>

  <form>
    <div class="user-box">
      <input
      required=""
      name="email"
      [(ngModel)]="loginUser.email"
      type="text">
      <label>Email</label>
    </div>
    <div class="user-box">
      <input
      required=""
      name="password"
      [(ngModel)]="loginUser.password"
      type="password">
      <label>Password</label>
    </div>
    <a (click)="login()" routerLink="/posts">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Accedi
    </a>
  </form>

  <p>Non hai un account? <a routerLink="/auth/register" class="a2">Registrati</a></p>
</div>


<div class="riempi"></div>
